#board-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}
* {
  font-family: Helvetica;
}
.board-title {
  text-align: center;
  font-weight: bold;
}
#full-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 20px;
}

button {
  margin: 5px;
}

.ship-button {
  border: 1px solid black;
  border-radius: 4px;
  margin: 5px;
  padding: 5px;
}

#inputs {
  display: flex;
}

.board {
  width: 48%;
  display: flex;
}

.full-board-container {
  display: flex;
  flex-direction: column;
}

.PlayerBoardCell, .AttackBoardCell {
  border: 1px solid black;
  padding: 15px;
}

.label {
  text-align: center;
}

.board-label {
  margin-top: 2px;
  padding: 7px;
}
