#board-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

#player-game {
  color: #4a565d;
}

* {
  font-family: Helvetica;
}

#info {
  display: flex;
  padding: 5px;
  justify-content: space-between;
}

#prompt {
  text-align: center;
  display: none;
  padding: 10px;
  background-color: #eceff1;
  color: #4a565d;
}

.board-title {
  text-align: center;
  font-weight: bold;
  padding: 15px;
  color: #4a565d;
}

#leaveGame {
  margin-left: 25px;
  padding: 10px;
  background-color: #af5050;
  color: white;
}

.each-button {
  text-align: center;
  align-self: center;
  background-color: #dee6ea;
  color: #4a565d;
}

.ship-button {
  background-color: #dee6ea;
  color: #4a565d;
}

#full-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding-left: 20px;
  padding-right: 20px;
}

.ship-button, .each-button {
  cursor: pointer;
  margin: 5px;
  padding: 15px;
  border-radius: 15px;
}

.ship-button.selected {
  background-color: #4a565d;
  color: #dee6ea;
}

#inputs {
  display: flex;
}

.board {
  width: 48%;
  display: flex;
}

.full-board-container {
  display: flex;
  flex-direction: column;
}

.PlayerBoardCell, .AttackBoardCell {
  margin: 2px;
  margin-top: 3px;
  cursor: pointer;
  height: 35px;
  width: 35px;
}


.label {
  text-align: center;
}

.board-label {
  margin-top: 8px;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 4px;
}

.water {
  background-color: #b2dbef;
}

.ship {
  background-color: #607d8b;
}

.hit {
  background-color: #568e56;
}

.oppHit {
  background-color: #a9473f;
}

.miss, .oppMiss {
  background-color: #dfe6eb;
}
