#board-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

* {
  font-family: Helvetica;
}

.info {
  display: flex;
  padding: 5px;
}

.board-title {
  text-align: center;
  font-weight: bold;
  padding: 15px;
}

#leaveGame {
  border: 2px groove black;
  margin-left: 25px;
  border-radius: 10px;
  padding: 5px;
}

.each-button {
  text-align: center;
  align-self: center;
}

#full-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 20px;
}

.ship-button, .each-button {
  cursor: pointer;
  border: 6px double black;
  margin: 5px;
  padding: 10px;
}

#inputs {
  display: flex;
}

.board {
  width: 48%;
  display: flex;
}

.full-board-container {
  display: flex;
  flex-direction: column;
}

.PlayerBoardCell, .AttackBoardCell {
  border: 1px solid black;
  padding: 15px;
  cursor: pointer;

}

.label {
  text-align: center;
}

.board-label {
  margin-top: 2px;
  padding: 7px;
}
